.leaflet-container {
  width: 50vw;
  height: 50vh;
}

body{
  background-color:lavender;
}

h1{
  border-bottom: 2px black;
}
/* header{
    min-height: 200px;
    background-image: url(images/cover.jpg);
    background-position: center;
} */


input{
  border-radius: 4px;

}

button{
  padding: 6px;
  margin-right: 4px;
  margin-top: 6px;
}